<section> 
  <div class="row">
    <div class="col-12"> </div> 
    <div class="col-12 links">
    <div class="row">
        <div class="col-3">  <img src="/assets/images/slinfi-logo.png" >  </div>
      <div class="col-3"> 
        <ul class="quick_links"> 
          <li>Quick Links</li>
          <li>Accomodation</li>
          <li>Lifestyle</li>
          <li>Weddings</li>
          <li>Food& beverages</li>
          <li>Offers</li>
        </ul>
      </div>
      <div class="col-3">       <ul class="quick_links"> 
          <li>Book</li>
          <li>Contact us</li>
          <li>About Us</li>
          <li>Travel Professionals</li>
      
        </ul> </div>
      <div class="col-3">   <ul class="quick_links"> 
          <li>LEGAL</li>
          <li>Legal Notice</li>
          <li>Site Usage Policy</li>
          <li>Privacy Policy</li>
      
        </ul> </div>
      
      
    </div>  
    </div> 

    <div class="col-12 copyright"> &copy; 2018 Solitaire Infosys All RIght reserved</div> 
  </div>


</section>