<div class="row m-5">
<div class="col-4 col-lg-4">   <div class="offers"> 
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" width="150px" height="200px" src="assets/images/offer13.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
       </div>
</div>
<div class="col-4 col-lg-4">     <div class="card" style="width: 18rem;">
        <img class="card-img-top" width="150px" height="200px" src="assets/images/offer9.png" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div> </div>
<div class="col-4 col-lg-4">     <div class="card" style="width: 18rem;">
        <img class="card-img-top" width="150px" height="200px" src="assets/images/offer6.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div> </div>
<div class="col-12 col-lg-12"> 
      <div class="card text-center">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <img class="" src="assets/images/offer10.jpg">
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div> 
    </div>
    <div class="col-6">  <img class="thumbnail" src="assets/images/offer14.jpg"></div>
    <div class="col-6"> <img class="thumbnail" src="assets/images/offer16.png"> </div>
    <div class="col-6">  <img class="thumbnail" src="assets/images/offer7.jpg"></div>
    <div class="col-6">  <img class="thumbnail" src="assets/images/offer8.png"></div>
    <div class="col-4 col-lg-4">     <div class="card" style="width: 18rem;">
            <img class="card-img-top" width="150px" height="200px" src="assets/images/offer3.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div> </div>
          <div class="col-4 col-lg-4">     <div class="card" style="width: 18rem;">
                <img class="card-img-top" width="150px" height="200px" src="assets/images/offer12.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div> </div>
              <div class="col-4 col-lg-4">     <div class="card" style="width: 18rem;">
                    <img class="card-img-top" width="150px" height="200px" src="assets/images/offer17.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div> </div>
                  <div class="col-12 mt-4">  <img class="" width="1100px" src="assets/images/offer4.jpg"></div>

</div>
   
    
            